*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
   text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
    width: 300px;
    margin-bottom: 30px;
}
.progress-container::before{
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    height: 4px;
    width:100%;
    z-index: -1;
    transition: 0.3s ease;

}
.progress{
    background-color: #3498db;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.3s ease;

}
.circle{
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #e0e0e0;
    transition: .4s ease;
}
.circle.active{
    border-color: #3498db;
}
.btn{
    color: #fff;
    background-color: #3498db;
    border: none;
    padding: 8px 30px;
    border-radius: 3px;
    margin: 5px;
    font-size: 14px;
}
.btn:active{
    transform: scale(.98);
}
.btn:disabled{
    background-color: #e0e0e0;
    cursor: not-allowed;
}
.btn:focus{
    outline: 0;
}